a,
a:focus,
a:hover {
  text-decoration: #fff;
}
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Cairo', sans-serif;
  transition: all 1s ease-in;
}
body {
  overflow-x: hidden; 
}
.full-page{
  min-height: 100vh;
  height: auto;
  padding: 1em;
}
h1{
  font-size: 2em;
  font-weight: bold;
  text-align: center !important;
  padding: 0.5em;
  margin-top: 3rem;
  border-bottom: 2px solid rgb(236,29,35);
}
h2{
  font-weight: bold;
  text-align: center !important;
  padding: 0.5em;
  border-bottom: 2px solid rgb(236,29,35);;
  margin:  5rem;
  margin-bottom: 0.75rem;
}
h3{
  color: #444;
  font-weight: bold;
  padding: 0 2em;
}
h4{
  font-size: 1.5em;
  font-weight: 700;
  color: #444444;
}
.logo{
  width:10em; 
  height: auto;
  transition: all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
/* Navbar style */
.navbar-collapse{
  text-align: center;
}
.navbar-toggler{
  outline: none;
}
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active{
  border: none;
  outline: none;
}
.navbar{
  width: 100%;
  padding: 0.5% 6%;
  background:none;
  margin: 0;
  z-index: 20;
  font-size: 1.3em;
  vertical-align: middle;
  transition: all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
  -moz-transition: all 0.2s ease;
  color: #fff !important;
}
.navbar-toggler i{
  color: #fff;
}


/* Styles when navbar scrolls */
.navbar-scrolled{
  width: 100%;
  background:#333333;
  z-index: 20;
  vertical-align: middle;
  transition: all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
/* Styles when navbar links */
.nav-link{
  color: #fff !important;
  margin: 0.5rem 0.65rem !important;
  letter-spacing: 1.1px;
}
.active{
  border-bottom: 2px solid #fff;
}
/* Custom default button */
.btn{
  text-align: center;
  border-radius: .5em;
  padding: .5em 1em;
  width: auto;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  background:transparent;
  border:rgb(236,29,35) 2px solid;
  color:rgb(236,29,35);
}
.btn:hover, .btn:focus{
  outline: none; 
  box-shadow: none;
  background-color:rgb(236,29,35);
  border: rgb(236,29,35) 2px solid;
  color: #fff;
}

.coverBtn{
  border:2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.courseBtn{
  font-size: 1em;
  align-self: end;
}
.courseBtn:hover{
  border: #f2f2f2 1px solid; ;
}

/*
 * Cover
 */

 .cover-page{
   color: #fff;
   image-rendering: pixelated;
   image-rendering: -moz-pixelated;
   background:-webkit-linear-gradient(rgba(0, 0,0, 0.9) 20%, rgba(0,0,0,0.6)),url("https://equinix.sumtotal.host/Core/252.sumtfile");
   background:-o-linear-gradient(rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.6)),url("https://equinix.sumtotal.host/Core/252.sumtfile");
   background:linear-gradient(rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.6)),url("https://equinix.sumtotal.host/Core/252.sumtfile") ;
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center !important;
   text-align: center;
   align-items: center;
   padding: auto;
   margin: auto;

 }
 .main{
  padding: 8% 15% 5% 15%;
  width: 100%;
  max-width: none;
}
.main h1{
  border-bottom:1px solid rgb(236,29,35);
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
}

.main p{
  font-size: 1.3em;
  padding: 10px;
  margin: 1em auto;
}

/* Intro Page */
#intro{
  display: grid;
  grid-auto-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding-bottom: 7rem;
  max-width: 85%;
  margin: auto;
}
.carousel{
  margin-bottom: 5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  width: auto;
  max-width: 95%;
  margin: 0 auto;
  align-self: start;
}

.carousel .active{
  border: none;
}
.carousel-indicators {
  position: absolute;
  bottom: -5rem;
}
.carousel-indicators li{
  background-color: #444;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
}
.carousel-indicators .active{
  background-color:rgb(236,29,35);
}
.carousel-control-next, .carousel-control-prev{
  width: 10%;
}
.carousel-control-prev{
  transform: translateX(-100%);
}
.carousel-control-next{
  transform: translateX(100%);
}
.carousel-icon {
  font-size: 2rem;
  color: #444;
}
.container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 2rem;
  display: grid;
  grid-auto-rows: 20% 20% auto auto;
  align-items: start;
  justify-items: center;
}
.container h5{
  color: rgb(236,29,35);
  margin-top: 1rem;
}
.container .h6{
  font-weight: 600;
  padding: 0.5rem;
}
.container a:not(:first-child),.container a:not(:nth-child(2)){
  color: #222222;
  margin: 0 !important;
  padding: 0;
  text-decoration: underline;
  align-self: center ;
  margin: auto 0;
}
.card-deck{
  max-width: 100%;
  margin: auto;
}
.card{
  max-width:  25rem;
  min-height: 25rem;
  height: auto;
  margin: 2rem;
  border: none;
  padding:  1rem 0;
  display: grid;
  grid-auto-rows: auto auto;
  justify-items: center;
  align-items: center ;
}
.img-div{
  margin-bottom: 0.5rem;
  align-self: center;
}
.card img{
  width: auto;
  height: 12rem;
  margin:0 auto;
}


/* Courses Section */
#courses{
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem 0;
  background: linear-gradient(#fff, #bebebe);
}
#courses h1{
  margin-top: 2.5em;
}
.course-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding:  0 3em 3em 3em;
  text-align: center;
  gap: 1em 0.5em;
}

.track-info-card i{
  padding:0.4em;
  border-radius: 50%;
  margin-bottom: 0.25em;
  background-color:#444;
  color: white;
  border:rgb(236,29,35) 0.05em ridge;
  width: 9rem;
  height: 9rem;
  line-height: 1.45;
}

.track-info-card{
  padding-top: 2em;
  height: auto;
  width: 85%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto auto ;
  justify-items: center;
  align-items: start;

}
.track-info-card h4{
  align-self: start;
  color: rgb(236,29,35);
}

.track-info-card .btn{
  align-self: end;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  font-size: 1.2em;
}
.contact .row{
  justify-content: center;
}
.contact a{
  color:rgb(236,29,35) !important;
}
.contact a:hover{
  color: #fff !important;
}

/* Footer */
footer{
display: grid;
align-items: center;
justify-items: center;
width: 100%;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
margin-top: auto;
text-align:center;
align-items: center;
color: #fff;
font-size: 1em;
background-color: #333333;
padding:2em;
}
footer a{
  color: #fff;
  font-size: 0.8em;
}
footer p{
  font-size: 1.1rem;
  padding: 2em;
}
footer h3{
  border: none;
  font-weight: 600;
  margin: auto;
  line-height: 2;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.contact-links{
  padding-bottom: 2.5em;
}
footer .btn{
  border: 2px solid white;
  color: white;
  margin: 0.5rem 1rem;
  width: 15rem;
}
.grad{
  color: #bebebe;
}

#toTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(236,29,35); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  padding: 1rem;
}
#toTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* ********************************************** Media Queries ****************************************************** */

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 4.8rem; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #333333;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


@media screen and (orientation:landscape) {
    .cover-page, .services,.location, .contact{
      height: auto !important;
      min-height: 100vh;
    }
  }
  
  @media screen and (max-width: 480px){
    *{
      text-align: center !important;
    }
    .navbar-toggler{
      font-size: .70em; 
    } 
    .main h1{
      font-size: 1.4em;
    }
    .main p{
      font-size:1em;
    }
    .main{
      padding: 10%;
      margin: 10%;
    }
  }

  @media screen and (max-width:862px){
    .card-deck {
      flex-flow: column wrap ;
      transition: all 0.5s ease;
    }
  }
  @media screen and (min-width:720px){
    .course-wrapper{
      grid-template-columns: 1fr 1fr;
    }

  
  }
  @media screen and (min-width:920px){
    .navbar{
      font-size: 1.25em;
    }
    #courses h1 {
      margin-top: 3em;
    }
    .course-wrapper{
      grid-template-columns:  1fr  1fr  1fr;
    }
  
  }
  @media screen and (max-width:1200px){
    .navbar{
      padding-top: 1.5rem;
    }
  }
  @media screen and (min-width: 1520px){
    #courses h1 {
      margin-top: 3em;
      font-size: 2.5rem;
    }
    .course-wrapper{
      width: auto;
      max-width: 85%;
      margin: 0 auto;
    }
  }

  